@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  .layout-container{
      display: flex;
      height: 100vh;
  }

  .header-container{
    display: flex;
    width: 100%;
    background-image: linear-gradient(-45deg, #523ce5, #ffca40);
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
  }
  .observe-logo{
    display: flex;
    height: 100%;
    align-items: center;
  }
  .nav-close-btn{
    display: none;
  }
  .nav-open-btn{
    display: none;
  }
  .chat-navbar{
    display: flex;
    align-items: center;
  }
  .message-wrapper{
    display: flex;
    padding: 0.625rem 1.25rem;
    background-color: #e7e9eb;
    border-radius: 1.5rem;
    width: 30%;
  }
  .chat-module{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: flex-end;
    row-gap: 2rem;
  }
  .message-container{
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }
  

  @media (max-device-width: 700px){
    .nav-close-btn{
      display: flex;
    }
    .nav-open-btn{
      display: block;
      height: 10px;
    }
    nav .nav-close-btn {
      position: absolute;
      top: 2rem;
      right: 2rem;
    }
    .chat-navbar {
      position: fixed;
      top: -100vh;
      left: 0;
      padding-top: 1.5rem;
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 1.5rem;
      background-color: grey;
      transition: 1s;
    }
    .responsive-nav {
      transform: translateY(100vh);
    }
    .content-wrapper{
      padding: 0rem 1rem;
    }
    .message-wrapper{
      display: flex;
      padding: 0.625rem 1.25rem;
      background-color: #e7e9eb;
      border-radius: 1.5rem;
      width: 90%;
    }
  }
}
